<footer class="footer">
  <small>
   E Learning System by dinh.xuan.son
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://recruit.framgia.vn">News</a></li>
    </ul>
  </nav>
</footer>
